nav img{
    width: 50px;
}
#sidebar{
    width: 300px; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    right: -300px; 
    transition: right 0.3s ease-in-out;
    z-index: 1;
}

.card img{
    height: 300px;
}