nav img{
    width: 50px;
}
#sidebar{
    width: 300px; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    right: -300px; 
    transition: right 0.3s ease-in-out;
    z-index: 1;
}

.card img{
    height: 300px;
}

.singlecart{
    height: 20px;

}
.singlecart img{
    width: 30%;
    height: auto;
}
input{
    width: 30%;
}
#cartproduct li{
    list-style: none;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
    width: fit-content;
    height: 80px;
    padding: inherit;
}

